.add-favorite {
  opacity: 0;
  visibility: hidden;
  transition: 0.35s ease-in-out;
  background-color: gray;
  padding: 5px 10px;
  border-radius: 8px;
  position: absolute;
  padding: 5px;
  top: 30px;
}

.add-favorite.hovered {
  opacity: 1;
  visibility: visible;
}

.add-favorite.favorite {
  background-color: #e60023;
}
